
<html>
<head>
  <meta charset="UTF-8">
  <title> The Card Game </title>
</head>
<body>
  <div> I guess this is working well </div>
  <% cards.each_with_index do |card, index| %>
    <div>
      <p> Card <%= index + 1 %></p>
      <p> Shape: <%= card.shape %> </p>
      <p> Color: <%= card.color %> </p>
      <p> Fill: <%= card.fill %> </p>
    </div>
  <% end %>

  <button> There is a set! </button>
  <button> There is no set! </button>
</body>
</html>
