
<html>
<head>
  <meta charset="UTF-8">
  <title> The Card Game </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <link rel="stylesheet" href="./cards.css">
</head>
<body>
  <div class="container text-center mt-5">
    <h3> Card Set Game Checker! </h3>
    <p> Cards have 4 attributes. You have a set when  all attributes <br> are the same or different in all cards.</p>
    <div class="container-cards">
      <% cards.each_with_index do |card, index| %>
        <div>
          <div class="card mb-3 <%= card[:fill] %>">
            <div class="card-body card-set">
            <%  card[:number].times do %>
              <%  style = card[:shape] + " " + card[:color] %>
              <div class="<%= style %>"></div>
            <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <% if set %>
      <h3 class="you-got-set"> You got a Set! </h3>
    <% else %>
      <h3 class="no-set"> There's no Set! </h3>
    <% end %>

    <a href="/"> Gimme Random Cards! </a> <br>
    <a href="/set"> Gimme a Set! </a>

  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
